<html lang="en">

<head>
    {{>links}}
</head>

<body>
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="./images/about.jpg" alt="" height="100px" class="img-fluid">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left align-items-center">
                        <p>Welcome to My Weather App</p>
                        <h1 style="text-align: center;">i am a <span class="text"> Mern Stack Developer, Freelancer and
                                Block Chain</span> Developer
                        </h1>
                        <a href="www.linkedin.com/in/yash-mahalle-18989b238" target="blank"><button>About Me</button> </a>
                    </div>

                    <!-- Right Side div -->


                </div>
            </div>
        </div>
    </div>

    <!-- Footer Code -->
    {{>footer}}





    {{>script}}

</body>

</html>